<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/login" method="get">
          Add Item
          <input type="submit" class="ghost-button" value="Login">
        </form>
      </fieldset>
    </div>
  </body>
<footer>
  <% include ../partials/footer %>
</footer>
</html>