<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
  <body>
    <div class="container">
      <header>
        <% include ../partials/header %>
      </header>
      <fieldset>
        <form action="/itemSubmit" method="post">
          <input name="name" type="text" class="ghost-input" placeholder="Enter Item name" required>
          <input name="type" type="text" class="ghost-input" placeholder="Enter Item type" required>
          <input name="link" type="text" class="ghost-input" placeholder="Enter URL">
          <input type="submit" class="ghost-button" value="Submit">
        </form>
      </fieldset>
    </div>
  </body>
<footer>
  <% include ../partials/footer %>
</footer>
</html>