<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/add" method="get">
          Dashboard 1
          Dashboard 2
          Dashboard 3
          <input type="submit" name="Add New" />
        </form>
      </fieldset>
    </div>
  </body>
<footer>
  <% include ../partials/footer %>
</footer>
</html>