<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
  <body>
    <div class="container">
      <header>
        <% include ../partials/header %>
      </header>
      <fieldset>
        <form action="/add" method="get">
          <table>
            <tr>
              <th>ID</th><th>Name</th><th>Link</th>
            </tr>

            <% for (var i = 0; i < items.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
            <tr>
              <td><%= items[i]._id %></td>
              <td><%= items[i].name %></td>
              <td><a href="http://<%= items[i].link%>" target="_blank"><%= items[i].link %></a></td>
            </tr>
            <% } %>
          </table>
          <a href="/addItem">Add Item   </a>
        </form>
      </fieldset>
    </div>
  </body>
<footer>
  <% include ../partials/footer %>
</footer>
</html>
