<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
  <body>
    <div class="container">
      <header>
        <% include ../partials/header %>
      </header>
      <fieldset>
        <form action="/add" method="get">
          <table>
            <tr>
              <th>Description</th><th>Link</th><th>Vote</th>
            </tr>

            <% for (var i = 0; i < items.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
            <tr>
              <td><%= items[i].name %></td>
              <td><a href="http://<%= items[i].link%>" target="_blank"><%= items[i].link %></a></td>
              <td>
              	<div>
              		<img id="likeIcon" src="/outline_thumb_up.png" onclick="toggleLike(this)">
              		<%= items[i].likes %>
              	</div>
              </td>
            </tr>
            <% } %>
          </table>
          <a href="/addItem">Add Item   </a>
        </form>
      </fieldset>
    </div>
  </body>
<footer>
  <% include ../partials/footer %>
</footer>
</html>

<script language="javascript">
function toggleLike(x){
	if(x.src.includes("outline_thumb_up.png")){
		x.src = "/thumb_up.png"
	}
	else{
		x.src = "/outline_thumb_up.png"
	}
}
</script>